/**
 * Casdoor Admin Styles
 */

.clear {
    clear: both;
}

a {
    cursor: pointer !important;
}

.code {
    background: #efefef;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #d63638;
    font-family: monospace;
    font-size: 14px;
}

table.form-table td input[type="text"],
table.form-table td input[type="url"],
table.form-table td input[type="password"] {
    width: 100%;
    max-width: 400px;
}

.form-table td {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
}

.form-table td p {
    margin-top: 0px;
}

.seperator {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.alertbar {
    background-color: #dc3232;
    color: #ffffff;
    display: block;
    line-height: 45px;
    height: 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    border-radius: 4px;
    margin: 10px 0;
    padding: 0 20px;
}

.alertbar a {
    color: white;
    text-decoration: underline;
}

.alertbar a:hover {
    color: #fff;
    opacity: 0.8;
}

/* WordPress admin style consistency */
.wrap p.description {
    color: #646970;
    font-size: 13px;
}

.wrap code {
    padding: 3px 6px;
    background: #f0f0f1;
    border-radius: 3px;
}
